<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="rover_description">
  <xacro:macro name="robot_base" params="">
  
  <!-- ################## CHASIS RUEDAS ################## -->
  <!-- Joint entre cilindro y chasis -->
    <!-- LINK: Cone -->
    <link name="Cone_link">
      <collision name="Cone_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cone.001.dae" scale="0.10000 0.10000 0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00148" ixy="0.00000" ixz="-0.00000" iyy="0.00089" iyz="-0.00000" izz="0.00148"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.05000"/>
        <mass value="0.30000"/>
      </inertial>
      <visual name="Cone">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cone.001.dae" scale="0.10000 0.10000 0.10000"/>
        </geometry>
      </visual>
    </link>
    <link name="Cone_w2_link">
      <collision name="Cone_w2_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cone.002.dae" scale="0.10000 0.10000 0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00148" ixy="0.00000" ixz="-0.00000" iyy="0.00089" iyz="-0.00000" izz="0.00148"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.05000"/>
        <mass value="0.30000"/>
      </inertial>
      <visual name="Cone_w2">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cone.002.dae" scale="0.10000 0.10000 0.10000"/>
        </geometry>
      </visual>
    </link>
    <link name="Cone_w3_link">
      <collision name="Cone_w3_collision">
        <origin rpy="0.00000 0.00000 -3.14159" xyz="0.00000 -0.00000 0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cone.003.dae" scale="0.10000 0.10000 0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00148" ixy="0.00000" ixz="0.00000" iyy="0.00089" iyz="0.00000" izz="0.00148"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.05000"/>
        <mass value="0.30000"/>
      </inertial>
      <visual name="Cone_w3">
        <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.00000 -0.00000 0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cone.003.dae" scale="0.10000 0.10000 0.10000"/>
        </geometry>
      </visual>
    </link>
    <link name="Cone_w4_link">
      <collision name="Cone_w4_collision">
        <origin rpy="0.00000 0.00000 -3.14159" xyz="0.00000 -0.00000 0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cone.007.dae" scale="0.10000 0.10000 0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00148" ixy="0.00000" ixz="0.00000" iyy="0.00089" iyz="0.00000" izz="0.00148"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.05000"/>
        <mass value="0.30000"/>
      </inertial>
      <visual name="Cone_w4">
        <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.00000 -0.00000 0.00000"/>
        <geometry>
          <mesh filename="file://$(find rover_description)/meshes/dae/Cone.007.dae" scale="0.10000 0.10000 0.10000"/>
        </geometry>
      </visual>
    </link>

    <!-- LINK: Cylinder -->
    <link name="Cylinder_link">
      <collision name="Cylinder_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <cylinder radius="0.05000" length="0.75000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.03800" ixy="0.00000" ixz="0.00000" iyy="0.03552" iyz="-0.00925" izz="0.00348"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
        <mass value="0.80000"/>
      </inertial>
      <visual name="Cylinder">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
        <geometry>
          <cylinder radius="0.05000" length="0.75000"/>
        </geometry>
      </visual>
    </link>
    <link name="Cylinder_w2_link">
      <collision name="Cylinder_w2_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
        <geometry>
          <cylinder radius="0.05000" length="0.75000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.03800" ixy="0.00000" ixz="0.00000" iyy="0.03552" iyz="-0.00925" izz="0.00348"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
        <mass value="0.80000"/>
      </inertial>
      <visual name="Cylinder_w2">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 -0.00000"/>
        <geometry>
          <cylinder radius="0.05000" length="0.75000"/>
        </geometry>
      </visual>
    </link>
    <link name="Cylinder_w3_link">
      <collision name="Cylinder_w3_collision">
        <origin rpy="-0.00000 -0.00000 3.14159" xyz="0.00000 -0.00000 0.00000"/>
        <geometry>
          <cylinder radius="0.05000" length="0.75000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.03800" ixy="0.00000" ixz="-0.00000" iyy="0.03552" iyz="0.00925" izz="0.00348"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
        <mass value="0.80000"/>
      </inertial>
      <visual name="Cylinder_w3">
        <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
        <geometry>
          <cylinder radius="0.05000" length="0.75000"/>
        </geometry>
      </visual>
    </link>
    <link name="Cylinder_w4_link">
      <collision name="Cylinder_w4_collision">
        <origin rpy="-0.00000 -0.00000 3.14159" xyz="-0.00000 0.00000 0.00000"/>
        <geometry>
          <cylinder radius="0.05000" length="0.75000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.03800" ixy="0.00000" ixz="-0.00000" iyy="0.03552" iyz="0.00925" izz="0.00348"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
        <mass value="0.80000"/>
      </inertial>
      <visual name="Cylinder_w4">
        <origin rpy="0.00000 -0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000"/>
        <geometry>
          <cylinder radius="0.05000" length="0.75000"/>
        </geometry>
      </visual>
    </link>

    <!-- LINK: Sphere -->
    <link name="Sphere_link">
      <collision name="Sphere_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <sphere radius="0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00120" ixy="0.00000" ixz="0.00000" iyy="0.00120" iyz="0.00000" izz="0.00120"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <mass value="0.30000"/>
      </inertial>
      <visual name="Sphere">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
        <geometry>
          <sphere radius="0.10000"/>
        </geometry>
      </visual>
    </link>
    <link name="Sphere_w2_link">
      <collision name="Sphere_w2_collision">
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 -0.00000"/>
        <geometry>
          <sphere radius="0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00120" ixy="0.00000" ixz="0.00000" iyy="0.00120" iyz="0.00000" izz="0.00120"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000"/>
        <mass value="0.30000"/>
      </inertial>
      <visual name="Sphere_w2">
        <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000"/>
        <geometry>
          <sphere radius="0.10000"/>
        </geometry>
      </visual>
    </link>
    <link name="Sphere_w3_link">
      <collision name="Sphere_w3_collision">
        <origin rpy="0.00000 0.00000 3.14159" xyz="0.00000 -0.00000 -0.00000"/>
        <geometry>
          <sphere radius="0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00120" ixy="0.00000" ixz="0.00000" iyy="0.00120" iyz="-0.00000" izz="0.00120"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.00000"/>
        <mass value="0.30000"/>
      </inertial>
      <visual name="Sphere_w3">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.00000"/>
        <geometry>
          <sphere radius="0.10000"/>
        </geometry>
      </visual>
    </link>
    <link name="Sphere_w4_link">
      <collision name="Sphere_w4_collision">
        <origin rpy="0.00000 0.00000 3.14159" xyz="0.00000 -0.00000 -0.00000"/>
        <geometry>
          <sphere radius="0.10000"/>
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="0.00120" ixy="0.00000" ixz="0.00000" iyy="0.00120" iyz="-0.00000" izz="0.00120"/>
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.00000"/>
        <mass value="0.30000"/>
      </inertial>
      <visual name="Sphere_w4">
        <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 -0.00000"/>
        <geometry>
          <sphere radius="0.10000"/>
        </geometry>
      </visual>
    </link>

    <joint name="Cylinder_link_joint" type="fixed">
      <origin rpy="-0.26180 0.00000 0.00000" xyz="-1.25000 -0.65807 -0.39906"/>
      <parent link="base_link"/>
      <child link="Cylinder_link"/>
    </joint>
    <joint name="Cylinder_w2_link_joint" type="fixed">
      <origin rpy="-0.26180 0.00000 0.00000" xyz="1.25000 -0.65807 -0.39860"/>
      <parent link="base_link"/>
      <child link="Cylinder_w2_link"/>
    </joint>
    <joint name="Cylinder_w3_link_joint" type="fixed">
      <origin rpy="-0.26180 -0.00000 -3.14159" xyz="-1.25000 0.47479 -0.40695"/>
      <parent link="base_link"/>
      <child link="Cylinder_w3_link"/>
    </joint>
    <joint name="Cylinder_w4_link_joint" type="fixed">
      <origin rpy="-0.26180 -0.00000 -3.14159" xyz="1.25000 0.47479 -0.40719"/>
      <parent link="base_link"/>
      <child link="Cylinder_w4_link"/>
    </joint>
    <joint name="Sphere_link_joint" type="fixed">
      <origin rpy="0.26180 0.00000 0.00000" xyz="0.00000 -0.01047 -0.41352"/>
      <parent link="Cylinder_link"/>
      <child link="Sphere_link"/>
    </joint>
    <joint name="Sphere_w2_link_joint" type="fixed">
      <origin rpy="0.26180 0.00000 0.00000" xyz="0.00000 -0.01047 -0.41352"/>
      <parent link="Cylinder_w2_link"/>
      <child link="Sphere_w2_link"/>
    </joint>
    <joint name="Sphere_w3_link_joint" type="fixed">
      <origin rpy="0.26180 0.00000 0.00000" xyz="-0.00000 -0.01267 -0.40736"/>
      <parent link="Cylinder_w3_link"/>
      <child link="Sphere_w3_link"/>
    </joint>
    <joint name="Sphere_w4_link_joint" type="fixed">
      <origin rpy="0.26180 0.00000 0.00000" xyz="-0.00000 -0.01267 -0.40736"/>
      <parent link="Cylinder_w4_link"/>
      <child link="Sphere_w4_link"/>
    </joint>
  
    <joint name="Cone_link_joint" type="fixed">
      <origin rpy="1.57080 0.00000 0.00000" xyz="0.00000 -0.12479 0.00000"/>
      <parent link="Sphere_link"/>
      <child link="Cone_link"/>
    </joint>
    <joint name="Cone_w2_link_joint" type="fixed">
      <origin rpy="1.57080 0.00000 0.00000" xyz="-0.00000 -0.12479 -0.00000"/>
      <parent link="Sphere_w2_link"/>
      <child link="Cone_w2_link"/>
    </joint>
    <joint name="Cone_w3_link_joint" type="fixed">
      <origin rpy="1.57080 -0.00000 -0.00000" xyz="-0.00000 -0.12479 0.00000"/>
      <parent link="Sphere_w3_link"/>
      <child link="Cone_w3_link"/>
    </joint>
    <joint name="Cone_w4_link_joint" type="fixed">
      <origin rpy="1.57080 -0.00000 -0.00000" xyz="0.00000 -0.12479 -0.00000"/>
      <parent link="Sphere_w4_link"/>
      <child link="Cone_w4_link"/>
    </joint>
  <!-- ################## CHASIS RUEDAS ################## -->

  
  <!-- ################## CHASIS TRAILER ################## -->
  <link name="Cube_trailer_2_link">
    <collision name="Cube_trailer_2_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="2.50000 0.10000 0.50000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.65000" ixy="0.00000" ixz="0.00000" iyy="16.25000" iyz="0.00000" izz="15.65000"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.00000 0.00000"/>
      <mass value="30.00000"/>
    </inertial>
    <visual name="Cube_trailer_2">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000"/>
      <geometry>
        <box size="2.50000 0.10000 0.50000"/>
      </geometry>
    </visual>
  </link>
  <link name="Cube_trailer_3_link">
    <collision name="Cube_trailer_3_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -0.00000 0.00000"/>
      <geometry>
        <box size="2.00000 0.10000 0.50000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="7.08333" ixy="0.00000" ixz="0.00000" iyy="0.43333" iyz="0.00000" izz="6.68333"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <mass value="20.00000"/>
    </inertial>
    <visual name="Cube_trailer_3">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="2.00000 0.10000 0.50000"/>
      </geometry>
    </visual>
  </link>
  <link name="Cube_trailer_4_link">
    <collision name="Cube_trailer_4_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="2.00000 0.10000 0.50000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="7.08333" ixy="0.00000" ixz="0.00000" iyy="0.43333" iyz="0.00000" izz="6.68333"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="20.00000"/>
    </inertial>
    <visual name="Cube_trailer_4">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="2.00000 0.10000 0.50000"/>
      </geometry>
    </visual>
  </link>
  <link name="Cube_trailer_link">
    <collision name="Cube_trailer_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="2.50000 0.10000 0.50000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="0.65000" ixy="0.00000" ixz="0.00000" iyy="16.25000" iyz="0.00000" izz="15.65000"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <mass value="30.00000"/>
    </inertial>
    <visual name="Cube_trailer">
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="2.50000 0.10000 0.50000"/>
      </geometry>
    </visual>
  </link>

  <joint name="Cube_trailer_2_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.35456 0.85200 0.70968"/>
    <parent link="base_link"/>
    <child link="Cube_trailer_2_link"/>
  </joint>
  <joint name="Cube_trailer_3_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 1.57080" xyz="1.57008 -0.09844 0.70917"/>
    <parent link="base_link"/>
    <child link="Cube_trailer_3_link"/>
  </joint>
  <joint name="Cube_trailer_4_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 1.57080" xyz="-0.85539 -0.09844 0.70917"/>
    <parent link="base_link"/>
    <child link="Cube_trailer_4_link"/>
  </joint>
  <joint name="Cube_trailer_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.35456 -1.04857 0.70968"/>
    <parent link="base_link"/>
    <child link="Cube_trailer_link"/>
  </joint>
  <!-- ################## CHASIS TRAILER ################## -->

  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 3.1415"/>
  </joint>

  <joint name="base_arm_cube_link_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-1.25000 -0.10000 0.48960"/>
    <parent link="base_link"/>
    <child link="base_arm_cube_link"/>
  </joint>
  
  <link name="base_link">
    <collision name="chasis_collision">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.09507 0.16631"/>
      <geometry>
        <mesh filename="file://$(find rover_description)/meshes/dae/Cube.004.dae" scale="1.62500 1.00000 0.30000"/>
      </geometry>
    </collision>
    <inertial>
      <inertia ixx="109.00000" ixy="0.00000" ixz="0.00000" iyy="273.06250" iyz="0.00000" izz="364.06250"/>
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.10089 0.16631"/>
      <mass value="300.00000"/>
    </inertial>
    <visual name="chasis">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -0.10089 0.16631"/>
      <geometry>
        <box size="3.25000 2.00000 0.60000"/>
      </geometry>
    </visual>
  </link>

</xacro:macro>

</robot>
