<?xml version="1.0" ?>
<robot name="cubo">

  <link name="cubo_link">
    <inertial>
      <mass value="4"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="0.033" ixy="0.0"  ixz="0.0"
        iyy="0.033" iyz="0.0"
        izz="0.033"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry>
    </collision>
  </link>

</robot>
